<router-outlet></router-outlet>
<div class="menu">
  <div class="button">
    <a [routerLink]="['/home']" routerLinkActive="router-link-active">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span
    ></a>
  </div>
  <div class="button">
    <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
  </div>
  <div class="button">
    <a [routerLink]="['/search']" routerLinkActive="router-link-active">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span
    ></a>
  </div>
</div>
